/bower_components/
/node_modules/
/key/
/config/globalConfig.json
/config/mongodbConfig.json
/config/redisConfig.json
.DS_Store
/typings/browser
/typings/main
/typings/browser.d.ts
/typings/main.d.ts
.classpath
.project
.settings
/hadoop/java/hadoop/target
npm-debug.log
/shell/hadoop.sh
/webRTC/easyrtc/node_modules/
/webRTC/easyrtc/server_example/node_modules/
/webRTC/easyrtc/server_example/bower_components/
/webRTC/video-chat/node_modules/
/app/xamarin/browser/packages
/app/xamarin/browser/browser/bin
/app/xamarin/browser/browser/obj
/app/xamarin/browser/Droid/bin
/app/xamarin/browser/Droid/obj
/app/xamarin/browser/IOS/bin
/app/xamarin/browser/IOS/obj