<ion-view view-title="添加线路" hide-back-button=true>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div style="width: 100%; height: 30%" id="bmap"></div>
        <div class="list" id="input">
            <label class="item item-input">
                <span class="input-label">编号</span>
                <input type="text" name="no" ng-model="powerline.no">
            </label>
            <label class="item item-input">
                <span class="input-label">型号</span>
                <input type="text" name="modelNo" ng-model="powerline.modelNo">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">电压等级</span>
                <select name="voltageClass" ng-model="powerline.voltageClass">
                    <option ng-repeat="vc in voltageClasses" value="{{vc._id}}">
                        {{vc.voltage}}{{vc.unit.unitCn}}
                    </ion-item>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">定期检修天数</span>
                <input type="number" min="1" name="repairDay" ng-model="powerline.repairDay">
            </label>
            <label class="item item-input">
                <span class="input-label">定期保养天数</span>
                <input type="number" min="1" name="maintainDay" ng-model="powerline.maintainDay">
            </label>
            <label class="item item-input">
                <span class="input-label">设计年限</span>
                <input type="number" min="1" name="designYear" ng-model="powerline.designYear">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">运行状态</span>
                <select name="runningState" ng-model="powerline.runningState">
                    <option ng-repeat="rs in runningStates" value="{{rs._id}}">
                        {{rs.nameCn}}
                    </ion-item>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">所属区域</span>
                <select name="provinceNo" ng-model="powerline.provinceNo">
                    <option ng-repeat="r in regions" value="{{r.provinces._id}}">
                        {{r.provinces.nameCn}}
                    </ion-item>
                </select>
            </label>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-positive no-margin" ng-click="getStartPosition()">线路起始定位</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive no-margin" ng-click="getEndPosition()">线路结束定位</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-assertive no-margin" ng-click="cleanPowerLine()">清除线路定位</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-calm no-margin" ng-click="showCoordinate()">显示线路定位</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <button class="button button-block button-balanced no-margin" ng-click="savePowerLine()">保存线路</button>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="coordinate.html" type="text/ng-template">
    <div class="row">
        <div class="col col-30">开始纬度</div>
        <div class="col col-70">{{startLongitude}}</div>
    </div>
    <div class="row">
        <div class="col col-30">开始经度</div>
        <div class="col col-70">{{startLatitude}}</div>
    </div>
    <div class="row">
        <div class="col col-30">结束纬度</div>
        <div class="col col-70">{{endLongitude}}</div>
    </div>
    <div class="row">
        <div class="col col-30">结束经度</div>
        <div class="col col-70">{{endLatitude}}</div>
    </div>
</script>