<ion-view view-title="{{powerline.no}}">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="back()">
                返回
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-refresh" ng-click="refresh()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="getDetail()"></ion-refresher>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col col-100 text-center text-bold">
                <h3>
                    {{powerline.runningState.nameCn}}
                    <i class="icon icon-large" ng-class="{
                        'ion-android-happy balanced': powerline.runningState.code == 5,
                        'ion-stop energized': powerline.runningState.code == 2,
                        'ion-android-sad assertive': powerline.runningState.code == 1,
                        'ion-settings royal': powerline.runningState.code == 3,
                        'ion-magnet calm': powerline.runningState.code == 4
                    }"></i>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-25 text-center">
                <label class="text-bold">健康状态</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="healthyIndicator"></div>
                <label class="text-media">{{healthyText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold">定期维修</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="repairIndicator"></div>
                <label class="text-media">{{repairText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold">定期保养</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="maintainIndicator"></div>
                <label class="text-media">{{maintainText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold">报废期限</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="serviceYearIndicator"></div>
                <label class="text-media">{{serviceYearText}}</label>
            </div>
        </div>
        <div class="row" style="margin-top: 0px;">
            <div class="col col-25 text-center">
                <label class="text-bold">负荷电压</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="voltIndicator"></div>
                <label class="text-media">{{voltText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold">负荷电流</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="ampereIndicator"></div>
                <label class="text-media">{{ampereText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold">线路温度</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="celsiusIndicator"></div>
                <label class="text-media">{{celsiusText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold">负载拉力</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="pullNewtonIndicator"></div>
                <label class="text-media">{{pullNewtonText}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-positive" ng-click="moreInfoModal.show()">
                    详细信息
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-calm" ng-click="maintainInfoModalShow()">
                    维修情况分析
                </button>
            </div>
        </div>
        <div class="row" ng-if="powerline.runningState.code == 2 || powerline.runningState.code == 5">
            <div class="col col-100">
                <button class="button button-block"
                ng-class="{
                    'button-balanced': powerline.runningState.code == 2,
                    'button-assertive': powerline.runningState.code == 5
                }"
                ng-click="switchPowerLine()">
                    <span ng-if="powerline.runningState.code == 2">启动线路</span>
                    <span ng-if="powerline.runningState.code == 5">停止线路</span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>


<script id="moreInfo.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">详细信息</h1>
            <button class="button button-clear" ng-click="moreInfoModal.hide()">关闭</button>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col col-100 text-center text-bold">
                    <h3>基本信息</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">编号 </div>
                <div class="col col-25"> {{powerline.no}}</div>
                <div class="col col-25">类型 </div>
                <div class="col col-25"> {{powerline.modelNo}}</div>
            </div>
            <div class="row">
                <div class="col col-25">电压等级 </div>
                <div class="col col-25"> {{powerline.voltageClass.voltage}}{{powerline.voltageClass.unit.unitCn}}</div>
                <div class="col col-25">投运时间 </div>
                <div class="col col-25"> {{powerline.serviceDate | date:'yyyy-MM-dd'}}</div>
            </div>
            <div class="row">
                <div class="col col-25">定期检修天数 </div>
                <div class="col col-25"> {{powerline.repairDay}}</div>
                <div class="col col-25">定期保养天数 </div>
                <div class="col col-25"> {{powerline.maintainDay}}</div>
            </div>
            <div class="row">
                <div class="col col-25">设计年限 </div>
                <div class="col col-25"> {{powerline.designYear}}</div>
                <div class="col col-25">所属区域 </div>
                <div class="col col-25"> {{powerline.province.nameCn}}</div>
            </div>
            <div class="row">
                <div class="col col-25">最近维修日期 </div>
                <div class="col col-25"> {{powerline.lastRepairDay}}</div>
                <div class="col col-25">最近保养日期 </div>
                <div class="col col-25"> {{powerline.lastMaintainDay}}</div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col col-100 text-center text-bold">
                    <h3>标准运行参数</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">运行电压 </div>
                <div class="col col-25"> {{powerline.standardOperationParameter.minVolt}} ~ {{powerline.standardOperationParameter.maxVolt}} V</div>
                <div class="col col-25">运行电流 </div>
                <div class="col col-25"> {{powerline.standardOperationParameter.minAmpere}} ~ {{powerline.standardOperationParameter.maxAmpere}} A</div>
            </div>
            <div class="row">
                <div class="col col-25">运行电阻 </div>
                <div class="col col-25"> {{powerline.standardOperationParameter.minOhm}} ~ {{powerline.standardOperationParameter.maxOhm}} Ω</div>
                <div class="col col-25">运行温度 </div>
                <div class="col col-25"> {{powerline.standardOperationParameter.minCelsius}} ~ {{powerline.standardOperationParameter.maxCelsius}} ℃</div>
            </div>
            <div class="row">
                <div class="col col-25">承受拉力 </div>
                <div class="col col-25"> {{powerline.standardOperationParameter.minPullNewton}} ~ {{powerline.standardOperationParameter.maxPullNewton}} N</div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>

<script id="maintainInfo.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">维修情况分析</h1>
            <button class="button button-clear" ng-click="maintainInfoModal.hide()">关闭</button>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col col-100 text-center">
                    <h5 class="text-bold">维修类型分布情况</h5>
                    <canvas class="chart chart-doughnut" chart-data="doughnutData"
                        chart-labels="['断路', '短路', '负荷过高', '拉力过高', '温度过高']" chart-legend="true"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col col-100 text-center">
                    <h5 class="text-bold">最近参数走势</h5>
                    <canvas class="chart chart-line" chart-data="lineData"
                    chart-labels="lineLabels" chart-legend="true"
                    chart-series="['电压', '电流', '拉力', '温度']"></canvas> 
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>