<ion-view view-title="{{powerline.no}}">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="back()">
                返回
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-android-refresh" ng-click="refresh()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="getDetail()"></ion-refresher>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col col-100 text-center text-bold text-large">
                {{powerline.runningState.nameCn}}
                <i class="icon icon-large" ng-class="{
                    'ion-android-happy balanced': powerline.runningState.code == 5,
                    'ion-stop energized': powerline.runningState.code == 2,
                    'ion-android-sad assertive': powerline.runningState.code == 1,
                    'ion-settings royal': powerline.runningState.code == 3,
                    'ion-magnet calm': powerline.runningState.code == 4
                }"></i>
            </div>
        </div>
        <div class="row">
            <div class="col col-25 text-center">
                <label class="text-bold text-media">健康状态</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="healthyIndicator"></div>
                <label class="text-small">{{healthyText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold text-media">定期维修</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="repairIndicator"></div>
                <label class="text-small">{{repairText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold text-media">定期保养</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="maintainIndicator"></div>
                <label class="text-small">{{maintainText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold text-media">报废期限</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionH" data-radial-indicator-id="serviceYearIndicator"></div>
                <label class="text-small">{{serviceYearText}}</label>
            </div>
        </div>
        <div class="row" style="margin-top: 0px;">
            <div class="col col-25 text-center">
                <label class="text-bold text-media">负荷电压</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="voltIndicator"></div>
                <label class="text-small">{{voltText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold text-media">负荷电流</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="ampereIndicator"></div>
                <label class="text-small">{{ampereText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold text-media">线路温度</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="celsiusIndicator"></div>
                <label class="text-small">{{celsiusText}}</label>
            </div>
            <div class="col col-25 text-center">
                <label class="text-bold text-media">负载拉力</label>
                <div class="radial-indicator" data-radial-indicator="indicatorOptionK" data-radial-indicator-id="pullNewtonIndicator"></div>
                <label class="text-small">{{pullNewtonText}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-balanced" ng-click="moreInfoModal.show()">
                    更多信息
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-positive" ng-click="position()">
                    定位
                </button>
            </div>
        </div>
        <!--<div class="row">
            <div class="col">
                <button class="button button-block" onclick="document.getElementById('uploadImg').click()">
                    上传照片
                </button>
                <input id="uploadImg" type="file" class="hidden" />
            </div>
        </div>-->
    </ion-content>
</ion-view>


<script id="moreInfo.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">更多信息</h1>
            <button class="button button-clear" ng-click="moreInfoModal.hide()">关闭</button>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col col-50 text-right">编号 </div>
                <div class="col"> {{powerline.no}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">类型 </div>
                <div class="col"> {{powerline.modelNo}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">电压等级 </div>
                <div class="col"> {{powerline.voltageClass.voltage}}{{powerline.voltageClass.unit.unitCn}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">投运时间 </div>
                <div class="col"> {{powerline.serviceDate | date:'yyyy-MM-dd'}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">定期检修天数 </div>
                <div class="col"> {{powerline.repairDay}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">定期保养天数 </div>
                <div class="col"> {{powerline.maintainDay}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">设计年限 </div>
                <div class="col"> {{powerline.designYear}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">所属区域 </div>
                <div class="col"> {{powerline.province.nameCn}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">最近维修日期 </div>
                <div class="col"> {{powerline.lastRepairDay}}</div>
            </div>
            <div class="row">
                <div class="col col-50 text-right">最近保养日期 </div>
                <div class="col"> {{powerline.lastMaintainDay}}</div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>