<ion-view view-title="登陆">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="toggleLeftMenu()">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <form action="user/login" method="post">
            <label class="item item-input">
                <input type="text" placeholder="username" name="username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" name="password">
            </label>
            <button class="button button-block button-positive" type="submit">
                login
            </button>
        </form>
    </ion-content>
</ion-view>