<ion-view view-title="设备注册">
    <ion-nav-bar>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">工号：</span>
                <input type="text" name="userNo">
            </label>
        </div>
        <div class="row">
            <div class="col col-50">
                <button class="button button-block button-positive button-balanced" ng-click="register()">
                    提交申请
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive" ng-click="showUuid()">
                    设备信息
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="infoConfirm.html" type="text/ng-template">
    <div class="row">
        <div class="col col-25">工号</div>
        <div class="col col-75">{{confirmUser.no}}</div>
    </div>
    <div class="row">
        <div class="col col-25">姓名</div>
        <div class="col col-75">{{confirmUser.name}}</div>
    </div>
    <div class="row">
        <div class="col col-25">职务</div>
        <div class="col col-75">{{confirmUser.type[0].nameCn}}</div>
    </div>
</script>