<link href="/css/ionic/ionic.css" rel="stylesheet">
<script src="/js/plugins/ionic/ionic.bundle.min.js"></script>
<script src="/js/plugins/fingerprint2/fingerprint2.min.js"></script>
<script src="/js/plugins/async/async.min.js"></script>
<script src="/js/plugins/radialIndicator/radialIndicator.min.js"></script>
<script src="/js/plugins/radialIndicator/angular.radialIndicator.js"></script>
<!--<script src="/js/angular/angular-route.min.js"></script>-->
<!--<script src="/js/angular/angular-ui-router.min.js"></script>-->
<link href="/css/my.css" rel="stylesheet">