<!DOCTYPE HTML>
<html style="width: 100%; height: 100%; margin: 0px; padding: 0px;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <script src="https://api.map.baidu.com/api?v=2.0&ak=hDMeBeFR3ccORh6CsKzOGIsc&s=1"></script>
        <script src="/js/plugins/leap_motion/leap-0.6.3.min.js"></script>
        <script src="/js/plugins/jquery/jquery.min.js"></script>
    </head>
    <body style="width: 100%; height: 100%; margin: 0px; padding: 0px;">
        <div id="map" style="width: 100%; height: 100%;"></div>
        
        <script src="/js/javascript/manage.js"></script>
    </body>
</html>