<ion-view view-title="维修线路列表">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="pullRefresh()"></ion-refresher>
        <ion-list>
            <div class="row" ng-if="powerlines.length == 0">
                <div class="col col-100 text-center">
                    <h4><i class="icon ion-outlet"></i> 没有维修线路</h4>
                </div>
            </div>
            <ion-item ng-repeat="powerline in (powerlines | orderBy : ['runningState.code','province.nameCn','voltageClass.voltage'])" href="#/app/maintain/powerline/{{powerline.encrypt}}">
                <div class="row">
                    <div class="col col-10">
                        <i class="stateIcon icon" ng-class="{
                            'ion-android-happy balanced': powerline.runningState.code == 5,
                            'ion-stop energized': powerline.runningState.code == 2,
                            'ion-android-sad assertive': powerline.runningState.code == 1,
                            'ion-settings royal': powerline.runningState.code == 3,
                            'ion-magnet calm': powerline.runningState.code == 4
                        }"></i>
                    </div>
                    <div class="col col-20">
                        {{powerline.no}}
                    </div>
                    <div class="col col-20">
                        {{powerline.province.nameCn}}
                    </div>
                    <div class="col col-33 text-center">
                        {{powerline.voltageClass.voltage}}{{powerline.voltageClass.unit.unitCn}}
                    </div>
                    <div class="col">
                        {{powerline.runningState.nameCn}}
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>